@model ExamSheet.Web.Models.SubjectStatisticViewModel

<div class="spinner" style="display:none;"></div>

@if (Model != null && Model.SubjectList != null && Model.SubjectList.Count > 0)
{
    <div class="filters">
        <form asp-controller="Chart" asp-action="GetSubjectData" method="post" class="subject-filter-form">
            @Html.DropDownList("subject", Model.SubjectList, htmlAttributes: new { @class = "form-control subject-filter filter" })
            @Html.Hidden("faculty", Model.FacultyId)
        </form>
    </div>
}
<div class="chart-not-available" style="display:none;">
    <span>Немає даних для аналізу</span>
</div>
<div class="chart-wrapper" style="display:none;">
    <div class="subject-chart-wrapper" style="width:600px;height:800px;">
        <div class="line-chart">
            <div>DESCRIPTION</div>
            <canvas id="lineChart"></canvas>
        </div>
        <div class="frequency-chart">
            <div>DESCRIPTION</div>
            <canvas id="frequencyChart"></canvas>
        </div>
        <div class="predict-chart">
            <div>DESCRIPTION</div>
            <canvas id="predictChart"></canvas>
        </div>
    </div>
</div>