/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* CUSTOM DESIGN */

.form-create-sheet{
    width: 40%;
    margin-left: 25%;
}

label {
    font-size: 1.5rem;
    font-weight: normal;
}

.navbar-inverse {
    background-color: #0D47A1 !important;
    border-color: #0D47A1;
}

.navbar-collapse a {
    color: #fff;
}

.navbar-header a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /*background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media (max-width: 800px) {
    .column {
        flex: 46%;
        max-width: 46%;
    }
}*/

.card {
    opacity: 0.99;
    filter: alpha(opacity=60);
    background-color: #fff;

    position: relative;
    display: -webkit-box;
    /*display: -ms-flexbox;
    display: flex;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /*ms-flex-direction: column;
    flex-direction: column;*/
    width:30%;
    float:left;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 1%;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.card-text {
    text-align: justify;
}

.modal-header {
    background-image: linear-gradient(#7FDBFF,white);
}

.modal-footer {
    background-image: linear-gradient(white,#7FDBFF);
}

#left-panel-link {
    position: relative;
    left: 5%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#right-panel-link {
    position: absolute;
    right: 10%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sep {
    height: 25px;
}

@media (min-width: 576px) {
    .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        /*-ms-flex-flow: row wrap;
        flex-flow: row wrap;*/
        margin-right: -15px;
        margin-left: -15px;
        width: 90%;
    }

        .card-deck .card {
            display: -webkit-box;
            /*display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;*/
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            /*-ms-flex-direction: column;
            flex-direction: column;*/
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px;
        }
}

/*.card-deck{
    display:flex;
}*/

*, ::after, ::before {
    box-sizing: border-box;
}

.card-body {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;*/
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: bold;
    text-align: center;
}

.list-group {
    display: -webkit-box;
    /*display: -ms-flexbox;
    display: flex;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /*-ms-flex-direction: column;
    flex-direction: column;*/
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-success {
    color: #155724;
    background-color: #f8f8f8;
}

.list-group li:hover {
    background-color: rgba(0,0,0,.125);
}

li {
    display: list-item;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-new {
    margin-top: 10%;
}

.btn-new{
    margin-left: 44%;
}

.card-container{
    width: 100%;
}

.body-container {
    margin-top: 50px;
}

.validation-summary-errors, .field-validation-error {
    color: red;
}

.btn-delete {
    float: right;
}

.btn-back {
    float: right;
}

.student-rating-A {
    background-color: aquamarine;
}

.student-rating-B {
    background-color: bisque;
}

.student-rating-C {
    background-color: lightgoldenrodyellow;
}

.student-rating-D {
    background-color: lightcoral;
}

.student-rating-E {
    background-color: red;
}

.header {
    padding:0px;
}

.form-inline .form-group {
    margin-left: 1%;
}

.exam-sheets-next {
    float:right;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/*optgroup {
    visibility: hidden;
}

    optgroup option {
        visibility: visible;
    }*/