@model ExamSheet.Web.Models.ExamSheetViewModel

<div class="form-container">
    @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { @class = "form-create-sheet" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CloseDate)
        <h4>Відомість</h4>
        @Html.Partial("_Edit", Model)

        <button type="submit" class="btn btn-primary">Редагувати</button>
    }
</div>